@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 77px;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
    background-color: #850E35;
    margin: 0;
    color: #FCF5EE;
}

.header {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: large;
    
    position: sticky;
    top: 0;
    z-index: 10; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    display: flex;
    background-color: black;
    justify-content:space-between;
    padding: 0 10%;
}

.name{
    padding: 20px;
    font-weight: 400;
    display: block;
    font-size: x-large;
    transition: 0.5s ease;
}

.name:hover {
    transform: scale(1.1);
}

nav ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}

nav a {
    color: #FCF5EE;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    display: block;
    text-align: center;
    transition: 0.5s ease;

}

nav a:hover {
    background-color: #FCF5EE;
    color: #000000;
    transform: scale(1.1);

}

nav li {
    float: left;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2.5rem;
    font-family: sans-serif;
    font-optical-sizing: auto;
}

.home-img img{
    width: 32vw;
    position: relative;
    transition: 0.5s ease;
}

.home-img img:hover {
    transform: scale(1.05);
}

.home-content p{
    font-size: large;
    font-weight: 200;

}

.home-content h1 {
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
}

.home-content h3 {
    font-weight: 600;
    font-style: italic;
    font-size: x-large;
}

.title {
    text-align: center;
    padding: 3rem;
}

.card {
    border: 10px solid rgb(0, 0, 0);
    border-radius: 16px;
    background-color: #ffffff;
    transition: 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
  
}

.card-img {
    max-width: 90%;
}

.card-title {
    font-family: sans-serif;
    font-weight: 600;

}
.card-body {
    font-family: sans-serif;
    font-weight: 100;

}


.btn {
    border: 5px solid #000000;  
    border-radius: 10px;
    font-size: larger;
    font-family: sans-serif;


}

.skills-content {
    margin: auto;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
}

.skills-content img{
    width: 50px;
    height: 50px;
}

.card-text {
    font-size: large;
}