@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal; 
    background-color: #850E35;
    margin: 0;
    color: #FCF5EE;
}

nav {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

nav ul {
    background-color: black;
    list-style-type: none;
    padding: 0px; 
    margin: 0px;
    overflow: hidden;
}

nav a {
    color: #FCF5EE;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #FCF5EE;
    color: #000000;
}

nav li {
    float: left;

}

h1 {
    margin: 40px;
    text-align: center;
}

.title {
    text-align: center;
    margin: 50px;
}

.card {
    border: 10px solid rgb(0, 0, 0);
    border-radius: 16px;
    background-color: #ffffff;
    object-fit: cover;      
    object-position: center;
    max-width: 60rem;
}

.card-img {
    max-width: 60%;
    height: auto;
    object-fit: cover;      
    object-position: center;
}

.btn {
    border: 5px solid #000000;  
    border-radius: 10px;
    font-size: larger;
}

.skills-content {
    margin: auto;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
}

.about-content{
    display: flex;
    gap: 20px;
    max-width: 80rem;
    font-size: larger;
    margin: 40px;
    margin: 0 auto;
}

.card-text {
    font-size: large;
}